<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h1 class="text-gray-500 font-bold text-[20px] text-center md:text-[40px]">About Us</h1>
        <p class="text-center text-[13px] px-[10px] pt-7 pb-20 md:text-[16px] ">
            Welcome to StyleFox We specialize in selling clothing, providing a
            simple, fast and transparent experience for our customers.
        </p>
    </header>
    <section class="relative ">
        <img src="/assets/images/about-img1.jpg" alt="" class="w-4/5 mx-auto h-[32rem] md:h-[20rem]" />
     
         <div class="w-48 bg-[#faf8f890] absolute top-8 left-[10rem] md:top-[6rem] md:left-[15rem]">
             <p class="text-[#1E5FB9] font-bold text-center text-[15px] py-3">
                 Personalized service
             </p>
             <p class="text-[13px] w-36 text-center ml-5 pb-4">
                 We adapt our support to your specific needs to find your ideal
                 property
             </p>
         </div>
         <div class="w-48 bg-[#faf8f890] absolute top-48 left-[10rem] md:top-[6rem] md:left-[34rem]">
             <p class="text-[#1E5FB9] font-bold text-center text-[15px] py-3">
                 Personalized service
             </p>
             <p class="text-[13px] w-36 text-center ml-5 pb-4">
                 We adapt our support to your specific needs to find your ideal
                 property
             </p>
         </div>
         <div class="w-48 bg-[#faf8f890] absolute top-[22rem] left-[10rem] md:top-[6rem] md:left-[54rem]">
             <p class="text-[#1E5FB9] font-bold text-center text-[15px] py-3">
                 Personalized service
             </p>
             <p class="text-[13px] w-36 text-center ml-5 pb-4">
                 We adapt our support to your specific needs to find your ideal
                 property
             </p>
         </div>
      
    </section>

    <section class="mt-10">
        <div class="text-center w-11/12 mx-auto">
            <h2 class="font-bold text-[20px] md:text-[30px] md:pt-10">Main features</h2>
            <p class="text-[#6B757D] pt-4 md:w-3/5 md:ml-[14rem]">
                Découvrez une collection de vêtements modernes et stylés, conçus pour
                allier confort, qualité et tendance, tout en répondant à vos besoins
                uniques.
            </p>
        </div>
        <div class=" md:flex md:mt-[5rem] ">
            <div class="text-center  w-4/5 mx-auto mt-9 md:w-[20rem] border borde-black py-7 rounded-[10px] bg-gradient-to-br from-orange-600 to-blue-500 group-hover:from-orange-600 group-hover:to-blue-500 hover:text-white dark:text-white ">
                <i class="fa-solid fa-users text-[30px]"></i>
                <p class="py-3">rendy collection</p>
                <p class="">
                    A selection of modern and stylish clothing for all tastes and all
                    occasions.
                </p>
            </div>
            <div class="text-center  w-4/5 mx-auto mt-9 md:w-[20rem] py-7 rounded-[10px] bg-gradient-to-br from-orange-600 to-blue-500 group-hover:from-orange-600 group-hover:to-blue-500 hover:text-white dark:text-white">
                <i class="fa-solid fa-medal text-[30px]"></i>
                <p class="py-3">Superior quality</p>
                <p >
                    Materials carefully chosen to guarantee durability, comfort and aesthetics.
                </p>
            </div>
            <div class="text-center  w-4/5 mx-auto mt-9 md:w-[20rem] py-7 rounded-[10px] bg-gradient-to-br from-orange-600 to-blue-500 group-hover:from-orange-600 group-hover:to-blue-500 hover:text-white dark:text-white">
                <i class="fa-solid fa-users text-[30px]"></i>
                <p class="py-3">Detailed size guide </p>
                <p >
                    An accurate size guide to help you find the perfect fit hassle-free.
                </p>
            </div>
        </div>
        <div class="md:flex md:mt-[6rem] hidden md:hidden" id="icons">
            <div class="text-center  w-4/5 mx-auto mt-9 md:w-[20rem] py-7 rounded-[10px] bg-gradient-to-br from-orange-600 to-blue-500 group-hover:from-orange-600 group-hover:to-blue-500 hover:text-white dark:text-white">
                <i class="fa-solid fa-truck text-[30px]"></i>
                <p class="py-3">Flexible Shipping Options </p>
                <p >
                    Provide different delivery options (standard, express, or pickup) and track orders in real-time.
                </p>
            </div>
            <div class="text-center  w-4/5 mx-auto mt-9 md:w-[20rem] py-7 rounded-[10px] bg-gradient-to-br from-orange-600 to-blue-500 group-hover:from-orange-600 group-hover:to-blue-500 hover:text-white dark:text-white">
                <i class="fa-solid fa-headset  text-[30px]"></i>
                <p class="py-3">Live Chat Support</p>
                <p >
                    Provide instant assistance to customers through live chat.
                </p>
            </div>
            <div class="text-center  w-4/5 mx-auto mt-9 md:w-[20rem] py-7 rounded-[10px] bg-gradient-to-br from-orange-600 to-blue-500 group-hover:from-orange-600 group-hover:to-blue-500 hover:text-white dark:text-white">
                <i class="fa-brands fa-square-instagram text-[30px]"></i>
                <p class="py-3">Social Media Integration</p>
                <p >
                    Enable easy sharing of products on social platforms..
                </p>
            </div>
        </div>
        <button class=" mt-10 ml-[11rem] text-white bg-[#5984bb] px-[20px] py-[10px] font-bold rounded-xl md:ml-[36rem] md:mt-[4rem] hover:bg-[#ad4007]"  id="showMore">Show More</button>
    </section>

    <section class="mt-10">
        <h3 class="text-[20px] text-center md:text-[3rem]" id="">FAQ</h3>
        <div class="bg-[#d9d9d948] mt-9 md:pl-12 shadow-xl">
            <div class="pt-6  ml-4 ">
                <p class="font-bold text-[16px] md:text-[23px]">What are the delivery times?</p>
                <p class="text-[12px] md:text-[16px] md:pt-3 hidden">Delivery times vary depending on your location and option chosen, but
                    generally you will receive your
                    order within 3-5 business days</p>
            </div>
            <div class="pt-6 ml-4">
                <p class="font-bold text-[16px] md:text-[23px]">What payment methods do you accept?</p>
                <p class="text-[12px] md:text-[16px] md:pt-3 hidden">We accept payment by credit card, PayPal, and other secure payment methods available at checkout.
                    </p>
            </div>
            <div class="pt-6  ml-4">
                <p class="font-bold text-[16px] md:text-[23px]">How can I return an item?</p>
                <p class="text-[12px] md:text-[16px] md:pt-3 hidden">If you are not satisfied with your purchase, you may return an item within 30 days of receipt, provided it is in its original condition.
                   </p>
            </div>
            <div class="py-6   ml-4">
                <p class="font-bold text-[16px] md:text-[23px]"> Are the items available in stock?</p>
                <p class="text-[12px] md:text-[16px] md:pt-3 hidden">We regularly update item availability information on our site. If a product is out of stock, you can sign up to be notified when it is back in stock</p>
            </div>

    </section>

    <section class="flex relative mt-[4rem]  w-[100%] overflow-hidden lg:w-[100%]" id="carousel">
      
            
            <div class="w-[18rem] ml-[1rem] mt-10">
                <img src="/assets/images/about1.jpg" alt=""  class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] " >
                <p class="text-[12px] font-bold  mt-[1rem] ">Thomas R, Marseille</p>
                <p class="text-[12px] text-slate-800 mt-[10px]  ">I have purchased several items on StyleFox and I am not disappointed!</p>
            </div>
            
            
            <div class="w-[18rem] h-[12rem] ml-[2rem] mt-10">
                <img src="/assets/images/about2.jpg" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Elise B., Toulouse</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">I love the collection offered by StyleFox. The clothes are modern, comfortable and
                    available in all sizes</p>
            </div>
            <div class="w-[18rem] ml-6 mt-10 ">
                <img src="/assets/images/about3.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Liam T., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">StyleFox has become my go-to place for all my fashion needs. The clothes are both
                    stylish and comfortable. </p>
            </div>
            <div class="w-[18rem] ml-6 mt-10 ">
                <img src="/assets/images/about4.webp" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Emma R., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">I've had a fantastic experience shopping with StyleFox. The quality of the clothes is
                    top-notch.</p>
            </div>
            <div class="w-[18rem] ml-6 mt-10 ">
                <img src="/assets/images/about5.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">John D., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">Shopping with StyleFox was a breeze! The website was easy to navigate, and I found exactly what I was looking for.</p>
            </div>
            <div class="w-[18rem] ml-6 mt-10 ">
                <img src="/assets/images/about6.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Sarah M., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">I am absolutely in love with StyleFox! The clothing is stylish, comfortable, and the quality is outstanding</p>
            </div>
            <div class="w-[18rem] ml-6 mt-10 ">
                <img src="/assets/images/about7.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Olivia H., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">StyleFox has an amazing selection of clothing that suits all my fashion needs.</p>
            </div>
            <div class="w-[18rem] ml-6 mt-10">
                <img src="/assets/images/about7.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Olivia H., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">StyleFox has an amazing selection of clothing that suits all my fashion needs.</p>
            </div>
            <div class="w-[18rem] ml-6 mt-10  slide">
                <img src="/assets/images/about7.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Olivia H., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">StyleFox has an amazing selection of clothing that suits all my fashion needs.</p>
            </div> 
            <div class="w-[18rem] ml-6 mt-10  slide">
                <img src="/assets/images/about7.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Olivia H., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">StyleFox has an amazing selection of clothing that suits all my fashion needs.</p>
            </div>
            <div class="w-[18rem] ml-6 mt-10 slide">
                <img src="/assets/images/about7.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Olivia H., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">StyleFox has an amazing selection of clothing that suits all my fashion needs.</p>
            </div>
            <div class="w-[18rem] ml-6 mt-10  slide">
                <img src="/assets/images/about7.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Olivia H., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">StyleFox has an amazing selection of clothing that suits all my fashion needs.</p>
            </div>
            <div class="w-[18rem] ml-6 mt-10  slide">
                <img src="/assets/images/about7.png" alt="" class="md:h-[22rem] md:w-[23rem] w-[11rem] h-[10rem] ">
                <p class="text-[12px] font-bold pt-5">Olivia H., Customer</p>
                <p class="text-[12px] text-slate-800 mt-[10px]">StyleFox has an amazing selection of clothing that suits all my fashion needs.</p>
            </div>
       
        <button>
            <img src="/assets/images/flech-d.png" alt="" class="md:w-[2rem] absolute md:right-2 right-2 md:top-[12rem] top-[7rem] hover:opacity-45 w-[20px] ">
            <img src="/assets/images/flech-g.png" alt="" class="md:w-[2rem] absolute md:left-2 left-2 md:top-[12rem] top-[7rem] hover:opacity-45 w-[20px] next">
        </button>
    </section>



    <script src="../js/About.js"></script>
</body>

</html>