
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="./../css/output.css">
    <title>StyleFox</title>
</head>
<body>
    <header>
        <p class="headp font-poppins flex justify-center items-center h-7 bg-[#1D242D] w-full text-white">Sign up GET20% OFF for your first order. Sign up now</p>
        <nav class="navbar grid-cols-3 flex justify-between   h-12 w-full">
            <div>
            <img class="h-12" src="/assets/icon/logo 3.png" alt="logo">
        </div>
        <div class="menu font-poppins flex items-center gap-6">
            <ul>HOME</ul>
            <ul>CATALOG</ul>
            <ul>ABOUT</ul>
            <ul>CONTACT</ul>
        </div>
            <img class="h-10" src="/assets/icon/Shopping bag.png" alt="panier">
        </nav>
    </header>

    <section class="font-poppins mt-6 flex gap-32 pb-3">
        <form class=" border border-black w-80 h-full pl-8 ml-2">
            <div>
                <h3 class="text-black mt-2 font-bold ">Categories  <i class=" ml-8 fa-solid fa-chevron-down" style="color: #808080;"></i></h3>
                <ul>
                    <li class="mt-2">Women <i class=" ml-4 fa-solid fa-chevron-down" style="color: #808080;"></i></li>
                    <ul class="ml-4">
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">Dresses</li>
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">Tops</li>
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">Skirts</li>
                    </ul>
                    <li class="mt-2">Men <i class="ml-4 fa-solid fa-chevron-down" style="color: #808080;"></i></li>
                    <ul class="ml-4">
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">T-shirts</li>
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">Jackets</li>
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">Jeans</li>
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">Hoodies</li>
                    </ul>
                    <li class="mt-2">Kids <i class="ml-4 fa-solid fa-chevron-down" style="color: #808080;"></i></li>
                    <ul class="ml-4">
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">T-shirts</li>
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">Shorts</li>
                        <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">Sweaters</li>
                    </ul>
                </ul>
            </div>
        
            <div class="product-size">
                <h3 class="mt-2">Size <i class=" ml-4 fa-solid fa-chevron-down" style="color: #808080;"></i></h3>
                <ul class="ml-4">
                    <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">S</li>
                    <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">M</li>
                    <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">L</li>
                    <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">XL</li>
                </ul>
            </div>
        
            <div class="product-price">
                <h3 class="mt-2  ">Price <i class="ml-4 fa-solid fa-chevron-down" style="color: #808080;"></i></h3>
                <ul class="ml-4">
                    <li class="bg-slate-300 w-40 border border-black border-x-0 border-t-0">Low Price</li>
                    <li class="mb-2 bg-slate-300 w-40 border border-black border-x-0 border-t-0">High Price</li>
                </ul>
            </div>
        </form>
        <form class="grid grid-cols-3 gap-11 gap-y-4">
        <div class="border border-black w-52">
            <img src="/assets/images/Jeans de printemps.png" alt="Image produit" class="image">
            <div class="flex gap-12 p-2 ">
                <div class="">
                <h2 class="font-poppins">Title</h2>
                <p class="text-gray-500 mt-10">Colors : <span>3</span></p>
                </div>
                 <span class="font-bold mt-6">$25.99</span>
            </div>
        </div>
            <div class="border border-black w-52">
                <img src="/assets/images/Jeans de printemps.png" alt="Image produit" class="image">
                <div class="flex gap-12 p-2 ">
                    <div>
                    <h2 class="font-poppins">Title</h2>
                    <p class="text-gray-500 mt-10">Colors : <span>3</span></p>
                    </div>
                     <span class="font-bold mt-6">$25.99</span>
                </div>
            </div>
                <div class="border border-black w-52">
                    <img src="/assets/images/Jeans de printemps.png" alt="Image produit" class="image">
                    <div class="flex gap-12 p-2 ">
                        <div>
                        <h2 class="font-poppins">Title</h2>
                        <p class="text-gray-500 mt-10">Colors : <span>3</span></p>
                        </div>
                         <span class="font-bold mt-6">$25.99</span>
                    </div>
                </div>
                    <div class="border border-black w-52">
                        <img src="/assets/images/Jeans de printemps.png" alt="Image produit" class="image">
                        <div class="flex gap-12 p-2 ">
                            <div>
                            <h2 class="font-poppins">Title</h2>
                            <p class="text-gray-500 mt-10">Colors : <span>3</span></p>
                            </div>
                             <span class="font-bold mt-6">$25.99</span>
                        </div>
        </div>
        </form>
    </section>
    
    
</body>
</html>