
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="./../css/output.css">
    <title>Document</title>
</head>
<body>
    <header>
        <p class="headp font-poppins flex justify-center items-center h-7 bg-[#1D242D] w-full text-white">Sign up GET20% OFF for your first order. Sign up now</p>
        <nav class="navbar grid-cols-3 flex justify-between   h-12 w-full">
            <div>
            <img class="h-12" src="/assets/icon/logo 3.png" alt="logo">
        </div>
        <div class="menu font-poppins flex items-center gap-6">
            <ul>HOME</ul>
            <ul>CATALOG</ul>
            <ul>ABOUT</ul>
            <ul>CONTACT</ul>
        </div>
            <img class="h-10" src="/assets/icon/Shopping bag.png" alt="panier">
        </nav>
    </header>

    <section class="font-poppins mt-6">
        <form class=" border border-black w-80 pl-8 ml-2">
            <div>
                <h3 class="text-black mt-2 font-bold ">Categories</h3>
                <ul>
                    <li class="mt-2">Women <i class="fa-solid fa-chevron-down" style="color: #808080;"></i></li>
                    <ul class="ml-4">
                        <li>Dresses</li>
                        <li>Tops</li>
                        <li>Skirts</li>
                    </ul>
                    <li class="mt-2">Men <i class="fa-solid fa-chevron-down" style="color: #808080;"></i></li>
                    <ul class="ml-4">
                        <li>T-shirts</li>
                        <li>Jackets</li>
                        <li>Jeans</li>
                        <li>Hoodies</li>
                    </ul>
                    <li class="mt-2">Kids <i class="fa-solid fa-chevron-down" style="color: #808080;"></i></li>
                    <ul class="ml-4">
                        <li>T-shirts</li>
                        <li>Shorts</li>
                        <li>Sweaters</li>
                    </ul>
                </ul>
            </div>
        
            <div class="product-size">
                <h3 class="mt-2">Size <i class="fa-solid fa-chevron-down" style="color: #808080;"></i></h3>
                <ul class="ml-4">
                    <li>S</li>
                    <li>M</li>
                    <li>L</li>
                    <li>XL</li>
                </ul>
            </div>
        
            <div class="product-price">
                <h3 class="mt-2">Price <i class="fa-solid fa-chevron-down" style="color: #808080;"></i></h3>
                <ul class="ml-4">
                    <li>Low Price</li>
                    <li>High Price</li>
                </ul>
            </div>
        </form>
        <form >
        <div class="carte">
            <img src="/assets/images/Jeans de printemps.png" alt="Image produit" class="image">
            <div class="details">
                <h2 class="titre">Titre du produit</h2>
                <p class="couleurs">Nombre de couleurs : <span>3</span></p>
                <p class="prix">Prix : <span>€ 25.99</span></p>
            </div>
        </div>
        </form>
    </section>
    
    
</body>
</html>