<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecom | StyleFox</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
    
<body class="font-poppins">
    <!-- Sign-Up Banner -->
    <div>
        <p class="bg-slate-600 text-white text-center p-2">
            Sign up GET 20% OFF for your first order.Sign up now
        </p>
    </div>

    <!-- Header -->
    <header class="flex justify-between items-center p-4 bg-white shadow-md">
        <div>
            <img src="/assets/icon/logo-black.jpg" alt="StyleFox Logo" class="h-20">
        </div>
        <div>
            <ul class="flex space-x-6">
                <li><a href="#" class="text-lg text-black border-b-2 rounded-full py-2 px-2 hover:bg-black hover:text-white hover:font-bold">Home</a></li>
                <li><a href="#" class="text-lg text-black border-b-2 rounded-full py-2 px-2 hover:bg-black hover:text-white hover:font-bold">Catalog</a></li>
                <li><a href="#" class="text-lg text-black border-b-2 rounded-full py-2 px-2 hover:bg-black hover:text-white hover:font-bold">About</a></li>
                <li><a href="#" class="text-lg text-black border-b-2 rounded-full py-2 px-2 hover:bg-black hover:text-white hover:font-bold">Contact</a></li>
            </ul>
        </div>
    </header>
    <!-- Main Section -->
    <main>
        <section>
            <!-- Product Image Section -->
            <div class="flex flex-col items-center">
                <img src="/assets/images/Hoodie.jpg" alt="Hoodie" class="w-full h-auto max-w-lg mb-4 p-2 shadow-md">
                <div class="flex space-x-4">
                    <img src="/assets/images/Hoodie.jpg" alt="Hoodie"
                        class="w-20 h-20 object-cover hover:opacity-80 transition-opacity hover:hover:border-2hover: border-blue-500 hover:cursor-pointer">
                    <img src="/assets/images/T-shirt-01.jpg" alt="T-shirt-01"
                        class="w-20 h-20 object-cover hover:opacity-80 transition-opacity hover:hover:border-2hover: border-blue-500 hover:cursor-pointer">
                    <img src="/assets/images/T-shirt-02.jpg" alt="T-shirt-02"
                        class="w-20 h-20 object-cover hover:opacity-80 transition-opacity hover:hover:border-2hover: border-blue-500 hover:cursor-pointer">
                    <img src="/assets/images/T-shirt-03.jpg" alt="T-shirt-03"
                        class="w-20 h-20 object-cover hover:opacity-80 transition-opacity hover:hover:border-2hover: border-blue-500 hover:cursor-pointer">
                </div>
            </div>
            
        </section>
    </main>
    
</body>

</html>